%p#notice= notice

%p
  %b Company:
  = @provider.company_id
%p
  %b Name:
  = @provider.name
%p
  %b Type of care:
  = @provider.type_of_care
%p
  %b Nqs rating:
  = @provider.NQS_rating
%p
  %b Languages:
  = @provider.languages
%p
  %b Url:
  = @provider.url

= link_to 'Edit', edit_provider_path(@provider)
\|
= link_to 'Back', providers_path
