= link_to 'Home', root_path
= link_to 'About Us', about_path
= link_to 'Advertise with us', advertise_path
= link_to 'Contact Us', contact_us_path
= link_to 'Privacy Policy', privacy_policy_path
= link_to 'Terms and Conditions', terms_conditions_path