%body
  #header 
    %h3 Daycare Decisions Landing Page (MVP Mechanical)

    .floatleft
      = image_tag "logo.png", size: "280x90", alt: "logo"
    
    = image_tag "dcd_main_1.jpg", size: "120x120", alt: "Childness image"

    .floatright
      = image_tag "free-daycare-checklist.png"
      = link_to "Logon or Register", admin_root_path

  #content
    %navbar
      %ul#navlist
        %li
          = link_to 'Home', root_path
        %li
          = link_to "FAQ", faq_path
        %li
          = link_to "About Us", about_path
        %li
          = link_to "Research", research_path
        %li
          = link_to "Fact Sheets", fact_sheets_path
        %li
          = link_to "Newsletter", newsletter_path
        %li
          = link_to "Provider Services", provider_services_path
    
#content  
  = image_tag  "ad.png", :class => "floatright"
  = image_tag  "ad.png", :class => "floatright"
  = image_tag  "ad_2.png", :class => "floatright"
  = image_tag  "ad_3.gif", :class => "floatright"
  = image_tag  "ad.png", :class => "floatright"
  = image_tag  "ad_2.png", :class => "floatright"
  = image_tag  "ad_3.gif", :class => "floatright"
  = image_tag  "ad.png", :class => "floatright"
  = image_tag  "ad_2.png", :class => "floatright"
  = image_tag  "ad_3.gif", :class => "floatright"
  = image_tag  "ad.png", :class => "floatright"
  = image_tag  "ad_2.png", :class => "floatright"
  = image_tag  "ad_3.gif", :class => "floatright"
    

  %h1 Finding Childcare Is Hard, We Can Help
  %h2 What Kind of Daycare Do You Want?
  
  <p>
  <span class="h4">Long Day Care</span> -- orem ipsum dolor sit amet, consectetuer...
  </p>
  
  <p>
  <span class="h4">Home Day Care</span> -- orem ipsum dolor sit amet, consectetuer...
  </p>
  
  <p>
  <span class="h4">Kindy Care</span> -- orem ipsum dolor sit amet, consectetuer...
  </p>
  
  <p>
  <span class="h4">Before or After School Hours Care</span> -- orem ipsum dolor sit amet, consectetuer...
  </p>

    
  %h3 Selected Providers (Your Favorites)
  =render favorites    
      
  %h3= 'Recently Updated or Added Providers'  
  =render latest

    
  %h3 Why List Your Center With Us?
  Lots and lots of nicely worded stuff to explain in as few words as possible why list your child care provider with Daycare Decisions.  Make sure the reader understands they can claim their update rights for themselves and maintain the data if they join.

  
  %h3 See Where Your Child Care Providers Are
  

  %h3 grey location-box goes here... soon
  %h4 Pick Your Location Using One Of These:
  = form_tag({controller: "home", action: "index"}, method: "get") do
    = search_field_tag 'locality', '', maxlength: 15, size: 20
  
    %h4 Suburb
    
    = search_field_tag 'post_code', '', maxlength: 4, size: 20
    %h4 Post Code
    
    = search_field_tag 'state', '', maxlength: 3, size: 20
    %h4 State
  
  
    %h3 You Can Refine Your Search Too -- Check the Services And Facilities You Want for Your Child
    
    = check_box_tag 'air_conditioning', 1, false
    Air Conditioning  
    
    = check_box_tag 'bus_service',  1, false
    Bus Service
  
    %p
  
    = check_box_tag 'disposable_nappies',  1, false
    Disposable Nappies  
    
    = check_box_tag 'cloth_nappies',  1, false
    Cloth Nappies
    
    %p
    
    = check_box_tag 'excursions',  1, false
    Excursions 
    
    = check_box_tag  'extended_hours_for_kindys',  1, false
    Extended Hours for Kindys
    
    %p
    
    = check_box_tag 'food_provider',  1, false
    Food Provided
    
    = check_box_tag 'guest_speakers',  1, false
    Guest Speakers
    
    %p
    
    = check_box_tag 'languages',  1, false
    Languages
    
    = check_box_tag 'real_grass',  1, false
    Real Grass
    
    %p
    
    = check_box_tag 'secure_access',  1, false
    Secure Access
    
    = check_box_tag 'siblings_given_priority',  1, false
    Siblings Given Priority
    
    %p
    = check_box_tag 'technology',  1, false
    Technology
    
    = check_box_tag 'vacancies',  1, false
    Vacancies
    
    %p
    
    = check_box_tag 'vaccinations_compulsory',  1, false
    Vaccinations Compulsory
    
    = check_box_tag 'waitlist_online',  1, false
    Waitlist Online
    
    %p
    
    = check_box_tag 'waitlist_reimbursed',  1, false
    Watilist Fee Reimbursed            
  
    %p
  
    /= link_to "Search", root_path, :class => "btn icon-edit"
    .btn-lg
      = submit_tag 'Find Providers', class: "form_submit"

    %h3= "Providers in suburb: #{params[:locality]}"
    = render locality_providers

    %h3= "Providers in postal code #{params[:post_code]}"
    = render post_code_providers

    %h3= "Providers in #{params[:state]}"
    = render state_providers


    - if @refined_providers.nil?
      %h3 None of Your Local Providers Offer the Services and Facilities You Chose.  You may want to remove a requirement and try again.
    - else
      %h3 Refined providers who have:

    - @keys = params.except :utf8, :commit, :action, :controller, :locality, :post_code, :state
    - @keys.each do |k,v|
      = "#{k}"
    %h4 ...are:
    /=render @refined_providers
  

