%container

  %body
      
    .content  
    = image_tag  "ad.png",   :class => "floatright"
    = image_tag  "ad.png",   :class => "floatright"
    = image_tag  "ad_2.png", :class => "floatright"
    = image_tag  "ad_3.gif", :class => "floatright"
    = image_tag  "ad.png",   :class => "floatright"
    = image_tag  "ad_2.png", :class => "floatright"
    = image_tag  "ad_3.gif", :class => "floatright"
    = image_tag  "ad.png",   :class => "floatright"
    = image_tag  "ad_2.png", :class => "floatright"
    = image_tag  "ad_3.gif", :class => "floatright"
    = image_tag  "ad.png",   :class => "floatright"
    = image_tag  "ad_2.png", :class => "floatright"
    = image_tag  "ad_3.gif", :class => "floatright"
      
         
  %div#dialog{ :width => "66%" }
    %h3 See Where Your Child Care Providers Are
    = form_tag({controller: "home", action: "index"}, method: "get") do

      /= search_field_tag 'locality', '', maxlength: 15, size: 20  
      /= options_from_collection_for_select(cities, :addressable_id, :locality)
      /= collection_select(:provider, :addressable_id, Address.all, :id, :locality)
      = select_tag(:locality, options_for_select(cities))
      %h4 Suburb, State

      %h3 Refine your search to see who offers what you want.

      /= search_field_tag 'post_code', '', maxlength: 4, size: 4
      /= options_from_collection_for_select(Address.all, :id, :post_code)
      /= collection_select(:provider, :address_id, Address.all, :id, :post_code)
      /%h4 Post Code

      /= search_field_tag 'state', '', maxlength: 4, size: 4
      /= options_from_collection_for_select(Address.all, :id, :state)
      /= collection_select(:provider, :address_id, Address.all, :id, :state)
      /%h4 State

      = check_box_tag 'additional_activities', 1, false
      Additional Activities
      %p
      = check_box_tag 'air_conditioning', 1, false
      Air Conditioning  
      %p
      = check_box_tag 'bus_service',  1, false
      Bus Service
      %p
      = check_box_tag 'disposable_nappies',  1, false
      Disposable Nappies  
      %p          
      = check_box_tag 'cloth_nappies',  1, false
      Cloth Nappies
      %p
      = check_box_tag 'excursions',  1, false
      Excursions 
      %p          
      = check_box_tag  'extended_hours_for_kindys',  1, false
      Extended Hours for Kindys
      %p
      
      
      = check_box_tag 'food_provided',  1, false
      Food Provided
      %p
      = check_box_tag 'guest_speakers',  1, false
      Guest Speakers
      %p
      = check_box_tag 'languages',  1, false
      Languages
      %p          
      = check_box_tag 'real_grass',  1, false
      Real Grass
      %p
      = check_box_tag 'secure_access',  1, false
      Secure Access
      %p          
      = check_box_tag 'siblings_given_priority',  1, false
      Siblings Given Priority
      %p
      = check_box_tag 'technology',  1, false
      Technology
      %p
      = check_box_tag 'vacancies',  1, false
      Vacancies
      %p
      = check_box_tag 'vaccinations_compulsory',  1, false
      Vaccinations Compulsory
      %p
      = check_box_tag 'waitlist_online',  1, false
      Waitlist Online
      %p
      = check_box_tag 'waitlist_reimbursed',  1, false
      Watilist Fee Reimbursed            
      %p
      .btn-lg
        = submit_tag 'Find Providers', class: "form_submit"

  %p
  // Position the results returned below the form
  - if !@provider_ids.empty?
    - l1, l2, providers = provider_list :locality, @provider_ids
    %h3= l1
    %h2= l2
    = render providers

  %br
  %br
      
  <h2>Selected Providers (Your Favorites)</h3>
  =render favorites    unless favorites.nil?

  %br
  %br
        
  %h2= 'Recently Updated or Added Providers'  
  =render latest
   


%br
%footer