%body
  #header 
    .floatleft
      =image_tag( "logo.png", size: "280x90", alt: "logo" )
    
    %h3 Daycare Decisions Landing Page Mechanical
    =image_tag("dcd_main_1.jpg", size: "120x120", alt: "Childness image")

    .floatright
      %a 
        =image_tag("free-daycare-checklist.png")

    .floatright
      %h4
        %a
          =link_to "Logon or Register", admin_root_path

  #content
    %navbar
      %ul#navlist
        %li
          %a Home
        %li
          %a FAQ
        %li
          %a About
        %li
          %a Research
        %li
          %a Fact Sheets
        %li
          %input Search
        %li
          %a Newsletter
        %li
          %a Provider Services

  .floatright
    #content
      =image_tag  "ad.png", :class => "floatright"
      =image_tag  "ad_2.png", :class => "floatright"
      =image_tag  "ad_3.gif", :class => "floatright"
      <img class="floatright" src="images/ad.png" alt="" width="60" height="60">
      <img class="floatright" src="images/ad.png" alt="" width="260" height="160">
      <img class="floatright" src="images/ad.png" alt="" width="260" height="120">
      <img class="floatright" src="images/ad.png" alt="" width="60" height="60">
      <p>

  #container
      
    .content
      %h1 Finding Childcare Is Hard, We Can Help
      %h2 What Kind of Daycare Do You Want?
      
      <p>
      <span class="h4">Long Day Care</span> -- orem ipsum dolor sit amet, consectetuer...
      </p>
      
      <p>
      <span class="h4">Home Day Care</span> -- orem ipsum dolor sit amet, consectetuer...
      </p>
      
      <p>
      <span class="h4">Kindy Care</span> -- orem ipsum dolor sit amet, consectetuer...
      </p>
      
      <p>
      <span class="h4">Before or After School Hours Care</span> -- orem ipsum dolor sit amet, consectetuer...
      </p>
      
      %h3= 'Selected Providers (Favorites?)'
      .panel
        #providers
          -favorites.each do |f|
            #provider
              = link_to "#{f.name}", href="http://#{f.url}", target: '_blank'

          %a 1 Little Feet Provider One Mooloombaba
          %a Provider Two Dalton Town Center
      
        
      %h3 Latest Providers Added
      .panel
        #providers    
          -latest.each do |p|
            #provider
              = link_to "#{p.name}", href="http://#{p.url}", target: '_blank'
          %a 2 Little Feet Provider One Mooloombaba
          %a Provider Two Dalton Town Center
          %br
          %a Little Feet Provider One Mooloombaba
          %a Provider Two Dalton Town Center
          %br
          %a Little Feet Provider One Mooloombaba
          %a Provider Two Dalton Town Center

      %h3 Why List Your Center With Us?
      Lots and lots of nicely worded stuff to explain in as few words as possible why list your child care provider with Daycare Decisions.  Make sure the reader understands they can claim their update rights for themselves and maintain the data if they join.


  = form_tag do
    %h3 Find Child Care Providers (form)
  
    .panel 
      %h3 Choose Any Or All of These 
      #search
        %input
        %p Suburb
        %input
        %p Post Code
        %input
        %p State
        = link_to "Search", root_path, :class => "btn icon-edit"
        /= link_to "Search", "https://twitter.com/intent/tweet?text=#{@twitter_message}", :class => "btn icon-edit"
        

      .content

      = form_tag do
        %h3 You Can Refine Your Search (form)
        .panel
          %h3 Check the Services And Facilities You Want for Your Child
          .panel	
            =check_box_tag("x",  1, false)
            Air Conditioning  
            =check_box_tag("x",  1, false)
            Bus Service
            %p
            =check_box_tag("Disposable Nappies",  1, true)
            Disposable Nappies  
            =check_box_tag("Cloth Nappies",  1, false)
            Cloth Nappies
            %p
            =check_box_tag("x",  1, true)
            Excursions 
            =check_box_tag("x",  1, true)
            Extended Hours for Kindys

            %p

            =check_box_tag("x",  1, true)
            Food Provided
            =check_box_tag("x",  1, false)
            Guest Speakers
            %p
            =check_box_tag("x",  1, false)
            Languages
            =check_box_tag("x",  1, true)
            Real Grass
            %p
            =check_box_tag("x",  1, false)
            Secure Access
            =check_box_tag("x",  1, true)
            Siblings Given Priority

            %p
            =check_box_tag("x",  1, false)
            Technology
            =check_box_tag("x",  1, false)
            Vacancies
            %p
            =check_box_tag("x",  1, false)
            Vaccinations Compulsory
            =check_box_tag("x",  1, false)
            Waitlist Online
            %p
            =check_box_tag("x",  1, false)
            Watilist Fee Reimbursed            
            %p
            = link_to "Search", root_path, :class => "btn icon-edit"

        %h3 Providers Who Have What You Want
        #providers
          -@providers.each do |p|
            = link_to "#{p[0].name}", href="http://#{p[0].url}", target: '_blank'

  #footer
    %a Home
    %a About Us
    %a Advertise
    %a Contact Us
    %a Privacy Policy
    %a Terms and Conditions
