%p#notice= notice

%p
  .provider
    %h2 #{@provider.name}
    %h4= "#{@provider.addresses[0].locality}, #{@provider.addresses[0].post_code}"
    %h4= "#{@provider.rolodexes[0].kind}: #{@provider.rolodexes[0].number_or_email}"

%p
  %b Web Site:
  = link_to @provider.name, @provider.url
%p
  %b Description:
  = @provider.description

- if @provider.additional_activities
  %p
    %b Additional Activities:
    = @provider.additional_activities ? "YES" : "No"
    - if @provider.additional_activities
      = @provider.additional_activities_list

- if @provider.age_range
  %p
    %b Age Range:
    = @provider.age_range

- if @provider.air_conditioning
  %p
    %b Air Conditioning:
    = @provider.air_conditioning ? "YES" : 'No'

- if @provider.approved_places
  %p
    %b Approved Places:
    = @provider.approved_places

- if @provider.bus_service
  %p
    %b Bus Service:
    = @provider.bus_service ? "YES" : 'No'

- if @provider.care_offered
  %p
    %b Type of Care Offered:
    = @provider.care_offered 

- if @provider.cloth_nappies
  %P
    %b Cloth Nappies:
    = @provider.cloth_nappies ? "YES" : 'No'

- if @provider.disposable_nappies
  %p
    %b Disposable Nappies:
    = @provider.disposable_nappies ? "YES" : 'No'

- if @provider.excursions
  %p
    %b Disposable Excursions:
    = @provider.excursions ? "YES" : 'No'

- if @provider.extended_hours_for_kindys
  %p
    %b Extended Hours for Kindys:
    = @provider.extended_hours_for_kindys ? "YES" : 'No'

- if @provider.fee
  %p
    %b Fee ($):
    = @provider.fee

- if @provider.food_provided
  %p
    %b Food Provided
    = @provider.food_provided ? "YES" : 'No'

- if @provider.guest_speakers
  %p
    %b Guest Speakers:
    = @provider.guest_speakers ? "YES" : 'No'

- if @provider.hours
  %p
    %b Hours of Operation:
    = @provider.hours

- if @provider.languages
  %p
    %b Languages:
    = @provider.languages ? "YES" : "No"
    = @provider.languages_list

- if @provider.NQS_rating
  %p
    %b NQS Rating:
    = @provider.NQS_rating

- if @provider.online_enrollment
  %p
    %b Online Enrollment: 
    = @provider.online_enrollment

- if @provider.outdoor_play_area
  %p
    %b Outdoor Play Area:
    = @provider.outdoor_play_area ? "YES" : 'No'

- if @provider.provider_legal_name
  %p
    %b Legal Name:
    = @provider.provider_legal_name

- if @provider.security_access
  %p
    %b Secure Access:
    = @provider.security_access ? "YES" : 'No'

- if @provider.sibling_priority
  %p
    %b Siblings Get Priority:
    = @provider.sibling_priority ? "YES" : 'No'

- if @provider.real_grass
  %p
    %b Real Grass in Play Area:
    = @provider.real_grass ? "YES" : 'No'

- if @provider.technology
  %p
    %b Technology:
    = @provider.technology ? "YES" : 'No'
    = @provider.technology_list

- if @provider.vacancies
  %p
    %b Vancancies:
    = @provider.vacancies ? "YES" : 'No'

- if @provider.vaccinations_compulsory
  %p
    %b Compulsory Vaccinations
    = @provider.vaccinations_compulsory ? "YES" : 'No'

- if @provider.waitlist_fee
  %p
    %b Waitlist Fee ($):
    = @provider.waitlist_fee

- if @provider.waitlist_online
  %p
    %b Waitlist Online Form:
    = @provider.waitlist_online ? "YES" : 'No'

- if @provider.waitlist_reimbursed
  %p
    %b Waitlist Reimbursed:
    = @provider.waitlist_reimbursed ? "YES" : 'No'

%p
  %b Date last updated:
  = @provider.updated_at.strftime("%d-%m-%Y")

